@font-face {
    font-family: "Happy Potatoes";
    src: url(fonts/Happy_Potatoes.ttf) format("truetype");
}

.header {
    overflow: hidden;
    background-color: #d8c1a0;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Happy Potatoes';
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #be9664;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #be9664;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  .header .search-container {
    float: left;
  }
  
  .header input[type=text] {
    width: 500px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;    
    border-radius: 4px;
  }
  
  .header .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .header .search-container button:hover {
    background: #be9664;
  }