body{
  font-family: sans-serif;
  background-color: #DABA99;
}
.header {
  overflow: hidden;
  background-color: #977350;
  padding: 20px 10px;
  border-radius: 4px;
}

  /* Header links */
.header a {
  float: left;
  color: #FFD1A3;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
/* Custom font */
@font-face {
    font-family: "Happy Potatoes";
    src: url(content/fonts/Happy_Potatoes.ttf) format("truetype");
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Happy Potatoes';
}

.header a:hover {
  background-color: #D38D47;
  color: #FFD1A3;
}

.header a.active {
  background-color: #D38D47;
  font-weight: bold;
  color: #FFD1A3;
}

.header-right {
  float: right;
}

.header .search-container {
  float: left;
}

.header input[type=text] {
  width: 500px;
  padding: 6px;
  background: #ECD5BE;
  margin-top: 8px;
  font-size: 17px;
  border: none;    
  border-radius: 4px;
}

.header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #D38D47;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header .search-container button:hover {
  background-color: #F5B473;
}

/* ---- ARTICLES ---- */
.paginacion {
  display: inline-block;
}

.paginacion a { 
  float: left;
  background-color: #977350;
  margin: 0p auto;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
}
.paginacion a.active {
    background-color: #D38D47;
    color: white;
}
.paginacion a:hover{
    text-decoration: none;
    background: #ECD5BE;
}

.noticiasRecientes {
  width: 85%;
  background-color: #977350;
  color: #FFD1A3;
  border-radius: 4px;
  margin: 5px auto;
  padding: 5px;
}
.noticiasRecientes h2{
  text-align: center;
}
.noticiasRecientes h2:hover{
  text-align: center;
  font-style: italic;
}

.peliculasRecientes {
  width: 85%;
  background-color: #977350;
  color: #FFD1A3;
  border-radius: 4px;
  margin: 5px auto;
  padding: 5px;
}
.peliculasRecientes h2{
  text-align: center;
}
.peliculasRecientes h2:hover{
  text-align: center;
  font-style: italic;
}

.contenidoCentral {
  width: 90%;
  background-color: #ECD5BE;
  color: #8F4C0D;
  border-radius: 4px;
  margin: 5px auto;
}

/* ---- FOOTER ---- */
.footer {
  margin: 5px auto;
  overflow: hidden;
  background-color: #977350;
  padding: 5px 10px;
  border-radius: 4px;
}
.textFooter {
  text-align: center;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  font-style: italic;
}

/* ---- MODIFICAR NOTICIA ---- */
.buttonsModifyArticles {
  background-color: #977350;
  color: #FFD1A3;
  text-align: center;
  padding: 5px;
  margin: 5px 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.buttonsModifyArticles:hover {
  background-color: #D38D47;
  color: #FFD1A3;
}
.textModifyArticles{
  padding: 6px;
  background-color: #ECD5BE;
  margin-top: 8px;
  font-size: 17px;
  border: none;    
  border-radius: 4px;
}